@import url('../../styles/section.less');

.message-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.message-role {
    font-size: 14px;
    color: #ffc107;
}

.message-content {
    font-size: 16px;
    color: #ffffff;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;
}

.message-time {
    font-size: 14px;
    color: #888888;
}
