# Copyright (C) 2025 Langning Chen
# 
# This file is part of miniapp.
# 
# miniapp is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# miniapp is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with miniapp.  If not, see <https://www.gnu.org/licenses/>.

name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    
permissions:
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm -C ui install
             sudo apt install cmake make

      - name: Get toolchains/versionInfo
        run: pnpm package
        
      - name: Unpacking toolchains/versionInfo
        run: pnpm package
        
      - name: Build
        run: pnpm package

      - name: Upload artifact
        id: upload
        uses: actions/upload-artifact@v4
        with:
          path: ./*.amr
          name: miniapp.amr
      - uses: actions/attest-build-provenance@v2
        with:
          subject-name: miniapp.amr
          subject-digest: sha256:${{ steps.upload.outputs.artifact-digest }}
